
/* fonts  */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
 font-weight: bold;

}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: lighter;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  direction: ltr;
}

.top-header__langauge-ar {
  opacity: 0.5;
}

.full-sec .awn-card__body .card-item__btns {
  direction: ltr !important;
}
.header .side-header__menu .awn-dorpdown-items .main-menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

